*.iml
.idea/
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/dictionaries
/.idea/vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx/
.env
*.apk
*.ap_
*.hprof
*.log
.nb-gradle/
/app/build/
/gradle/
.gradle/
local.properties
.vscode/
